In [43]:
import kagglehub
import os
import pandas as pd
import polars as pl
import statsmodels.api as sm

In [ ]:
#uncomment to download data
#kagglehub.login()
#kagglehub.competition_download('store-sales-time-series-forecasting')

VBox(children=(HTML(value='<center> <img\nsrc=https://www.kaggle.com/static/images/site-logo.png\nalt=\'Kaggle…

Kaggle credentials set.
Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.7), please consider upgrading to the latest version (0.3.10).
Kaggle credentials successfully validated.

In [18]:
os.listdir('..\data')

['holidays_events.csv',
 'oil.csv',
 'sample_submission.csv',
 'stores.csv',
 'test.csv',
 'train.csv',
 'transactions.csv']

In [44]:
train_data = pl.read_csv(r'..\data\train.csv')

In [47]:
# Convert date column
train_data = train_data.with_columns(
    pl.col('date').str.strptime(pl.Date, format='%Y-%m-%d')
)

# Extract year, month, weekday
train_data = train_data.with_columns([
    pl.col('date').dt.year().alias('year'),
    pl.col('date').dt.month().alias('month'),
    pl.col('date').dt.weekday().alias('weekday_num')
])

train_data

shape: (3_000_888, 9)
┌─────────┬────────────┬───────────┬────────────────┬───┬─────────────┬──────┬───────┬─────────────┐
│ id      ┆ date       ┆ store_nbr ┆ family         ┆ … ┆ onpromotion ┆ year ┆ month ┆ weekday_num │
│ ---     ┆ ---        ┆ ---       ┆ ---            ┆   ┆ ---         ┆ ---  ┆ ---   ┆ ---         │
│ i64     ┆ date       ┆ i64       ┆ str            ┆   ┆ i64         ┆ i32  ┆ i8    ┆ i8          │
╞═════════╪════════════╪═══════════╪════════════════╪═══╪═════════════╪══════╪═══════╪═════════════╡
│ 0       ┆ 2013-01-01 ┆ 1         ┆ AUTOMOTIVE     ┆ … ┆ 0           ┆ 2013 ┆ 1     ┆ 2           │
│ 1       ┆ 2013-01-01 ┆ 1         ┆ BABY CARE      ┆ … ┆ 0           ┆ 2013 ┆ 1     ┆ 2           │
│ 2       ┆ 2013-01-01 ┆ 1         ┆ BEAUTY         ┆ … ┆ 0           ┆ 2013 ┆ 1     ┆ 2           │
│ 3       ┆ 2013-01-01 ┆ 1         ┆ BEVERAGES      ┆ … ┆ 0           ┆ 2013 ┆ 1     ┆ 2           │
│ 4       ┆ 2013-01-01 ┆ 1         ┆ BOOKS          ┆ … ┆ 0           ┆ 2013 ┆ 1     ┆ 2           │
│ …       ┆ …          ┆ …         ┆ …              ┆ … ┆ …           ┆ …    ┆ …     ┆ …           │
│ 3000883 ┆ 2017-08-15 ┆ 9         ┆ POULTRY        ┆ … ┆ 0           ┆ 2017 ┆ 8     ┆ 2           │
│ 3000884 ┆ 2017-08-15 ┆ 9         ┆ PREPARED FOODS ┆ … ┆ 1           ┆ 2017 ┆ 8     ┆ 2           │
│ 3000885 ┆ 2017-08-15 ┆ 9         ┆ PRODUCE        ┆ … ┆ 148         ┆ 2017 ┆ 8     ┆ 2           │
│ 3000886 ┆ 2017-08-15 ┆ 9         ┆ SCHOOL AND     ┆ … ┆ 8           ┆ 2017 ┆ 8     ┆ 2           │
│         ┆            ┆           ┆ OFFICE         ┆   ┆             ┆      ┆       ┆             │
│         ┆            ┆           ┆ SUPPLIES       ┆   ┆             ┆      ┆       ┆             │
│ 3000887 ┆ 2017-08-15 ┆ 9         ┆ SEAFOOD        ┆ … ┆ 0           ┆ 2017 ┆ 8     ┆ 2           │
└─────────┴────────────┴───────────┴────────────────┴───┴─────────────┴──────┴───────┴─────────────┘

In [69]:
train_data.describe()

shape: (9, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ id        ┆ date      ┆ store_nbr ┆ … ┆ onpromoti ┆ year      ┆ month     ┆ weekday_ │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ on        ┆ ---       ┆ ---       ┆ num      │
│ str       ┆ f64       ┆ str       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 3.000888e ┆ 3000888   ┆ 3.000888e ┆ … ┆ 3.000888e ┆ 3.000888e ┆ 3.000888e ┆ 3.000888 │
│           ┆ 6         ┆           ┆ 6         ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 1500443.5 ┆ 2015-04-2 ┆ 27.5      ┆ … ┆ 2.60277   ┆ 2014.8378 ┆ 6.207838  ┆ 3.997031 │
│           ┆           ┆ 4 08:27:0 ┆           ┆   ┆           ┆ 86        ┆           ┆          │
│           ┆           ┆ 4.703000  ┆           ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 866281.89 ┆ null      ┆ 15.585787 ┆ … ┆ 12.218882 ┆ 1.345518  ┆ 3.385668  ┆ 2.00074  │
│           ┆ 1642      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ min       ┆ 0.0       ┆ 2013-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 2013.0    ┆ 1.0       ┆ 1.0      │
│           ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ 750222.0  ┆ 2014-02-2 ┆ 14.0      ┆ … ┆ 0.0       ┆ 2014.0    ┆ 3.0       ┆ 2.0      │
│           ┆           ┆ 7         ┆           ┆   ┆           ┆           ┆           ┆          │
│ 50%       ┆ 1.500444e ┆ 2015-04-2 ┆ 28.0      ┆ … ┆ 0.0       ┆ 2015.0    ┆ 6.0       ┆ 4.0      │
│           ┆ 6         ┆ 5         ┆           ┆   ┆           ┆           ┆           ┆          │
│ 75%       ┆ 2.250665e ┆ 2016-06-1 ┆ 41.0      ┆ … ┆ 0.0       ┆ 2016.0    ┆ 9.0       ┆ 6.0      │
│           ┆ 6         ┆ 9         ┆           ┆   ┆           ┆           ┆           ┆          │
│ max       ┆ 3.000887e ┆ 2017-08-1 ┆ 54.0      ┆ … ┆ 741.0     ┆ 2017.0    ┆ 12.0      ┆ 7.0      │
│           ┆ 6         ┆ 5         ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [68]:
train_data.glimpse()

Rows: 3000888
Columns: 9
$ id           <i64> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
$ date        <date> 2013-01-01, 2013-01-01, 2013-01-01, 2013-01-01, 2013-01-01, 2013-01-01, 2013-01-01, 2013-01-01, 2013-01-01, 2013-01-01
$ store_nbr    <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ family       <str> 'AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS', 'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI'
$ sales        <f64> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
$ onpromotion  <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ year         <i32> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013
$ month         <i8> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ weekday_num   <i8> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2

In [64]:
summary = (
    train_data.group_by('year', 'month')
      .agg(pl.col('sales').sum())
      .pivot(
          index='year',
          values='sales',
          columns='month'
      )
      .with_columns(
          [pl.col(f'{col}').map_elements(lambda x: f'${x:,.0f}', return_dtype=pl.Utf8) for col in range(1, 13)]
      )
)

C:\Users\Leo\AppData\Local\Temp\ipykernel_11292\3758019131.py:2: DeprecationWarning: The argument `columns` for `DataFrame.pivot` is deprecated. It has been renamed to `on`.
  train_data.group_by('year', 'month')

In [65]:
summary

shape: (5, 13)
┌──────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ year ┆ 7          ┆ 2          ┆ 3          ┆ … ┆ 9          ┆ 1         ┆ 5         ┆ 4         │
│ ---  ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│ i32  ┆ str        ┆ str        ┆ str        ┆   ┆ str        ┆ str       ┆ str       ┆ str       │
╞══════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 2016 ┆ $23,462,67 ┆ $21,947,40 ┆ $23,131,78 ┆ … ┆ $22,417,44 ┆ $23,977,8 ┆ $24,779,4 ┆ $25,963,0 │
│      ┆ 2          ┆ 9          ┆ 1          ┆   ┆ 8          ┆ 05        ┆ 32        ┆ 25        │
│ 2013 ┆ $11,257,40 ┆ $9,658,960 ┆ $11,428,49 ┆ … ┆ $11,792,93 ┆ $10,327,6 ┆ $11,597,7 ┆ $10,993,4 │
│      ┆ 1          ┆            ┆ 7          ┆   ┆ 3          ┆ 25        ┆ 04        ┆ 65        │
│ 2015 ┆ $22,209,61 ┆ $13,742,39 ┆ $15,598,60 ┆ … ┆ $23,240,88 ┆ $14,896,9 ┆ $17,730,3 ┆ $14,955,0 │
│      ┆ 9          ┆ 6          ┆ 8          ┆   ┆ 2          ┆ 22        ┆ 68        ┆ 68        │
│ 2014 ┆ $19,421,89 ┆ $12,038,35 ┆ $20,365,58 ┆ … ┆ $20,022,41 ┆ $18,911,6 ┆ $13,379,7 ┆ $12,861,2 │
│      ┆ 1          ┆ 3          ┆ 4          ┆   ┆ 6          ┆ 41        ┆ 85        ┆ 51        │
│ 2017 ┆ $27,011,47 ┆ $23,250,11 ┆ $26,704,01 ┆ … ┆ null       ┆ $26,328,1 ┆ $26,911,8 ┆ $25,895,3 │
│      ┆ 8          ┆ 2          ┆ 8          ┆   ┆            ┆ 60        ┆ 47        ┆ 08        │
└──────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [72]:

def calculate_missing_percentage(df):
    """
    Calculate the percentage of missing values for each column in a Polars DataFrame.
    
    Parameters:
    -----------
    df : pl.DataFrame
        Input Polars DataFrame
    
    Returns:
    --------
    pl.DataFrame
        DataFrame with columns: 
        - 'column_name': name of the column
        - 'total_rows': total number of rows
        - 'missing_count': number of missing values
        - 'missing_percentage': percentage of missing values
    """
    # Get total number of rows
    total_rows = df.height
    
    # Calculate missing values
    missing_stats = (
        df.null_count()
        .melt(variable_name="column_name", value_name="missing_count")
        .with_columns([
            pl.lit(total_rows).alias("total_rows"),
            ((pl.col("missing_count") / total_rows * 100).round(2)).alias("missing_percentage")
        ])
        .select([
            "column_name", 
            "total_rows", 
            "missing_count", 
            "missing_percentage"
        ])
    )
    
    return missing_stats

calculate_missing_percentage(train_data)

C:\Users\Leo\AppData\Local\Temp\ipykernel_11292\3293749318.py:24: DeprecationWarning: `DataFrame.melt` is deprecated. Use `unpivot` instead, with `index` instead of `id_vars` and `on` instead of `value_vars`
  df.null_count()

shape: (9, 4)
┌─────────────┬────────────┬───────────────┬────────────────────┐
│ column_name ┆ total_rows ┆ missing_count ┆ missing_percentage │
│ ---         ┆ ---        ┆ ---           ┆ ---                │
│ str         ┆ i32        ┆ u32           ┆ f64                │
╞═════════════╪════════════╪═══════════════╪════════════════════╡
│ id          ┆ 3000888    ┆ 0             ┆ 0.0                │
│ date        ┆ 3000888    ┆ 0             ┆ 0.0                │
│ store_nbr   ┆ 3000888    ┆ 0             ┆ 0.0                │
│ family      ┆ 3000888    ┆ 0             ┆ 0.0                │
│ sales       ┆ 3000888    ┆ 0             ┆ 0.0                │
│ onpromotion ┆ 3000888    ┆ 0             ┆ 0.0                │
│ year        ┆ 3000888    ┆ 0             ┆ 0.0                │
│ month       ┆ 3000888    ┆ 0             ┆ 0.0                │
│ weekday_num ┆ 3000888    ┆ 0             ┆ 0.0                │
└─────────────┴────────────┴───────────────┴────────────────────┘

In [74]:
null_rows = train_data.filter(pl.col('sales').is_null())
null_rows

shape: (0, 9)
┌─────┬──────┬───────────┬────────┬───┬─────────────┬──────┬───────┬─────────────┐
│ id  ┆ date ┆ store_nbr ┆ family ┆ … ┆ onpromotion ┆ year ┆ month ┆ weekday_num │
│ --- ┆ ---  ┆ ---       ┆ ---    ┆   ┆ ---         ┆ ---  ┆ ---   ┆ ---         │
│ i64 ┆ date ┆ i64       ┆ str    ┆   ┆ i64         ┆ i32  ┆ i8    ┆ i8          │
╞═════╪══════╪═══════════╪════════╪═══╪═════════════╪══════╪═══════╪═════════════╡
└─────┴──────┴───────────┴────────┴───┴─────────────┴──────┴───────┴─────────────┘

In [75]:
transactions = pl.read_csv(r'..\data\transactions.csv')

In [76]:
transactions

shape: (83_488, 3)
┌────────────┬───────────┬──────────────┐
│ date       ┆ store_nbr ┆ transactions │
│ ---        ┆ ---       ┆ ---          │
│ str        ┆ i64       ┆ i64          │
╞════════════╪═══════════╪══════════════╡
│ 2013-01-01 ┆ 25        ┆ 770          │
│ 2013-01-02 ┆ 1         ┆ 2111         │
│ 2013-01-02 ┆ 2         ┆ 2358         │
│ 2013-01-02 ┆ 3         ┆ 3487         │
│ 2013-01-02 ┆ 4         ┆ 1922         │
│ …          ┆ …         ┆ …            │
│ 2017-08-15 ┆ 50        ┆ 2804         │
│ 2017-08-15 ┆ 51        ┆ 1573         │
│ 2017-08-15 ┆ 52        ┆ 2255         │
│ 2017-08-15 ┆ 53        ┆ 932          │
│ 2017-08-15 ┆ 54        ┆ 802          │
└────────────┴───────────┴──────────────┘